%form{ :id => "time-entry", :action => "/entry", :method => "post"}
  %p
    %label Date:
    %input{ :name => "date", :id => "date", :type => "text"}
  %p
    %label Project:
    %select{ :name => "project", :id => "project"}
      %option=Project.get(1).name
  %p
    %label Type:
    %select{ :name => "entry_type", :id => "entry_type"}
      -constants_to_options(EntryType)
  %p
    %label Billing Type:
    %select{ :name => "billing_type", :id => "billing_type"}
      %option=BillingType::Billable
  %p
    %label Description:
    %textarea{ :name => "desc", :id => "desc"}
  %p
    %label Duration:
    %input{ :name => "duration", :id => "duration", :type => "text"}
  %p
    %label User:
    %select{ :name => "user", :id => "user"}
      %option=User.get(1).fullname

%table
  %tr
    %th Date
    %th Client
    %th Project
    %th Description
    %th Name
    %th Duration
  - @entries.each do |time|
    %tr
      %td
        = time.date
      %td
        = time.project.client.name
      %td
        = time.project.name
      %td
        = time.desc
      %td
        = time.user.fullname
      %td
        = time.duration
  